.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .header {
        background-color: $bg-primary-default;
    }
    .main {
        flex: 1 1 auto;
    }
    .footer {
        height: 30px;
        background-color: $bg-primary-default;
    }
}

.container {
    @extend %container;
}

