<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-list-item</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="_container">
            <div class="project-item list-item">
                <div class="list-item__group">
                    <h4 class="list-item__title">Название Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum
                        dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum
                        dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.

                    </h4>
                    <div class="list-item__description">
                        <div class="list-item__set">
                            <p class="list-item__code">#1352353252352352523523523523532523523523523523532523532523525</p>
                            <p class="list-item__user-info">Иванов И.И. создал 1 час назад</p>
                        </div>
                        <p class="list-item__admin-info">Баранов В.В. изменил 1 минуту назад</p>
                    </div>
                </div>
                <button class="list-item__btn">
                    <img src="../../images/project-list-item/dots.svg" alt="dots">
                </button>
            </div>
        </div>
    </div>
</body>

</html>