<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-list-item</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="project-item list-item">
                <div class="list-item__group">
                    <h4 class="list-item__title">
                        Название Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quod quas culpa voluptatibus adipisci explicabo tempore in, harum eveniet sunt ducimus iste. Ex, ratione rerum consequuntur veniam laborum dignissimos accusamus?
                        Nam quae aut impedit consequatur aspernatur repellat reprehenderit consectetur placeat natus. Mollitia odio tempora maxime officiis eligendi animi delectus voluptatem repellat rerum quo iure, minus laudantium. Voluptates rem recusandae totam.
                        Corrupti nemo repellat voluptas tenetur, numquam cum ipsum nesciunt dignissimos sed, porro quia magni ipsa voluptate odio officia commodi reiciendis eveniet adipisci ipsam. Illo et placeat nemo vel aspernatur possimus?
                        Voluptate illo exercitationem ipsum magnam sint aliquam tempora tenetur veniam fugiat expedita nobis delectus asperiores saepe laboriosam facere alias unde quod, necessitatibus soluta temporibus praesentium? Consectetur possimus excepturi laboriosam voluptatum.
                        Incidunt reprehenderit nemo iure quae, vero expedita libero error, corporis pariatur aperiam vel quo, hic porro exercitationem sequi in saepe sint soluta nisi. Pariatur expedita deserunt a consequatur, aspernatur temporibus!
                    </h4>
                    <div class="list-item__description">
                        <div class="list-item__set">
                            <p class="list-item__code">#1
                            </p>
                            <p class="list-item__user-info">Иванов И.И. создал 1 час назад</p>
                        </div>
                        <p class="list-item__admin-info">Баранов В.В. изменил 1 минуту назад</p>
                    </div>
                </div>
                <button class="list-item__btn">
                    <img src="../../images/project-list-item/dots.svg" alt="dots">
                </button>
            </div>
        </div>
    </div>
</body>

</html>