@import '../../css/main.css';


.list-item {
    display: flex;
    align-items: center;
    padding: 0px 16px 8px;
    border-bottom: 1px solid var(--border-active);
    gap: 16px;
    cursor: pointer;
}

.list-item__group {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.list-item__title {
    height: 38px;
    flex: 1 1 auto;
    font-weight: 400;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list-item__description {
    display: flex;
    gap: 16px;
}

.list-item__set {
    flex: 1 1 auto;
    display: flex;
    gap: 16px;
}

.list-item__code {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item__user-info {
    color: var(--font-disabled);
}

.list-item__admin-info {
    color: var(--font-disabled);
}

.list-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 19px;
    background: transparent;
    border: 1px solid var(--border-default-disabled);
    border-radius: 4px;
    display: none;
}

.list-item__btn:hover {
    background-color: var(--bg-secondary-hover);
    border-color: var(--border-hover);
}

.list-item__btn:active {
    background-color: var(--bg-secondary-active);
    border-color: var(--border-active);
}

.list-item:hover .list-item__btn {
    display: flex;
}