<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plug</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="_container">
            <div class="plug">
                <p class="plag__text">Не создан ни один проект</p>
                <button class="plug__btn menu__btn">Добавить</button>
            </div>
        </div>
    </div>
</body>

</html>