<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav-bar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container container">
                <nav class="header__menu menu">
                    <button class="menu__btn menu__btn_active" disabled>Проекты</button>
                    <button class="menu__btn">Задачи</button>
                    <button class="menu__btn">Пользователи</button>
                    <button class="menu__btn btn-menu">
                        <img class="btn-menu__icon" src="../../images/nav-bar/user-icon.png" width="24" height="24"
                            alt="user-icon">
                        <img class="btn-menu__dropdown-arrow" src="../../images/nav-bar/dropdown-arrow.svg"
                            alt="dropdown-arrow">
                    </button>
                </nav>
            </div>
        </header>
    </div>
</body>

</html>