<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task-list-item</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="_container">
        <div class="task-item list-item">
            <div class="list-item__group">
                <div class="list-item__inner">
                    <h4 class="list-item__title">Название Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum
                        dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet
                        consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum
                        dolor sit amet consectetur adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.Название Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    
                    </h4>
                    <img class="list-item__icon btn-menu__icon" src="../../images/nav-bar/user-icon.png" width="24"
                        height="24" alt="user-icon">
                </div>
                <div class="list-item__description">
                    <div class="list-item__set">
                        <p class="list-item__code">#1352353252352352523523523523532523523523523523532523532523525</p>
                        <p class="list-item__user-info">Иванов И.И. создал 1 час назад</p>
                        <div class="list-item__status">
                            Черновик
                        </div>
                    </div>
                    <p class="list-item__admin-info">Баранов В.В. изменил 1 минуту назад</p>
                </div>
            </div>
            <button class="list-item__btn">
                <img src="../../images/project-list-item/dots.svg" alt="dots">
            </button>
        </div>
    </div>
    </div>
</body>

</html>