.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;
    &__btn {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid $bg-secondary;
        border-radius: 4px;
        background-color: transparent;
        color: $font-secondary;
        &_active {
            background-color: $bg-secondary;
            color: $font-primary-default;
            cursor: default;
        }
        &:hover {
            background-color: $bg-secondary-hover;
            color: $font-primary-default;
        }
        &.menu__btn_active:hover {
            background-color: $bg-secondary;
        }
    }
    &__inner {
        position: relative;
        .btn-menu {
            padding: 9px 16px;
            gap: 13px;
            border-color: transparent;
            svg{
                color: $font-secondary;
            }
            &_active svg{
                color: $bg-secondary-active;
                transform: rotate(-180deg);
            }
            &_active{
                background-color: $bg-secondary;
            }
            &.btn-menu_active:hover {
                background-color: $bg-secondary;
            }
            &__icon {
                @extend %icon-style;
                pointer-events: none;
            }
            &:hover {
                border-color: $bg-secondary;
                background-color: transparent;
            }
        }
        .dropdown-menu {
            @extend %dropdown-menu;
            &__item:not(:last-child) {
                margin-bottom: 16px;
            }
            &_visible {
                display: block;
            }
        }
       
    }
}



