$white-color: #ffffff;
$bg-blue: rgb(83, 83, 223);
$bg-btn-project: rgb(45, 137, 173);
$bg-btn-task: rgb(140, 0, 255);



%flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}