@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';


.nav {
    padding: 20px 0 20px 0;
    &__list {
        @extend %flex;
        justify-content: center;
        gap: 70px;
    }
    &__link {
        font-size: 20px;
        color: $white-color;
        text-transform: uppercase;
    }
}

.buttons {
    @extend %flex;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
    &__click {
        @extend %flex;
        background-color: $bg-btn-project;
        color: $white-color;
        padding: 15px;
        border-radius: 20px;
        font-size: 15px;
        &_active {
            background-color: $bg-btn-task;
        }
    }
}
